extends ../layouts/_layoutPage
block content
  .row.mb-2
    table.col-md(cellspacing='2')
      tbody
        tr
          td.w-75.h-50(rowspan='3')
            #demo.carousel.slide(data-ride='carousel')
              // Indicators
              ul.carousel-indicators
                li.active(data-target='#demo', data-slide-to='0')
                li(data-target='#demo', data-slide-to='1')
                li(data-target='#demo', data-slide-to='2')
              // The slideshow
              .carousel-inner
                .carousel-item.active
                  img(src='https://loremflickr.com/600/300/girl/all')
                .carousel-item
                  img(src='https://loremflickr.com/600/301/girl/all')
                .carousel-item
                  img(src='https://loremflickr.com/600/300/girl/all')
                // Left and right controls
                a.carousel-control-prev(href='#demo', data-slide='prev')
                  span.carousel-control-prev-icon
                a.carousel-control-next(href='#demo', data-slide='next')
                  span.carousel-control-next-icon
          td            
            img(src='https://loremflickr.com/300/148/girl/all')
        tr
          td.w-25
            img(src='https://loremflickr.com/300/149/girl/all')
  .row
    .col.d-flex.mb-2
      .col-2.mt-2.text-bole
        i.fas.fa-home 
        span   Home 
        |/ 
        span Shop
      .col-10.text-center.d-flex.justify-content-end
        .row
          .col
            span(for="perPage") Product/Page:
          .col
            select.form-control.form-control-sm#perPage(name='perPage')
              option(value='8' selected) 8
              option(value='12') 12
              option(value='16') 16
            
    .row
      .col-md-2
        .list-group
          .list-group-item
            a category 1
          .list-group-item
            a category 2
          .list-group-item
            a category 3
        .list-group
          .list-group-item
            a category 1
          .list-group-item
            a category 2
          .list-group-item
            a category 3
        .list-group
          .list-group-item
            a category 1
          .list-group-item
            a category 2
          .list-group-item
            a category 3
        .list-group
          .list-group-item
            a category 1
          .list-group-item
            a category 2
          .list-group-item
            a category 3
      .col-md-10
        .row
          each product in products
            .col-sm-6.col-md-3.mb-3
              .card
                .h-75
                  img.card-img-top.img-responsive(src=''+ product.image + product.h +'/girl/all' , alt='Card image', height='230')
                .card-body
                  h5.card-title
                    p=product.name
                  .card-text.d-flex.justify-content-between
                    h6 
                      del.font-italic="price: $"+product.oldPrice
                    h4
                      .badge.badge-Warning="$"+product.price
                  .d-flex.justify-content-between
                    button.btn.btn-success(href='#')
                      i.fas.fa-shopping-cart
                    a.ml-3.btn.btn-primary(href='/shop/detail') detail
        .row.mt-3
          .col-6
            span.page-item
                b page: 
                span=page
                |   / 
                span=totalPage 
          .col-6
            ul.pagination.justify-content-end
              li.page-item
                a.page-link(href='/shop?page='+ (page-1) ) &laquo;
              li.page-item.active
                a.page-link(href=''+ a[0])
                  .p=page
              li.page-item
                a.page-link(href=''+ a[1]) 
                  .p=page+1
              li.page-item
                a.page-link(href=''+ a[2] )
                  .p=page+2
              li.page-item
                a.page-link(href=''+ a[3]) 
                  .p=page+3
              li.page-item
                a.page-link(href=''+ a[4] )
                  .p=page+4
              li.page-item
                a.page-link(href=''+ a[5] )
                  .p=page+5
              li.page-item
                a.page-link(href=''+ a[1]) &raquo;
        
